@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome!</h1>
<hr />
<h3>@Html.ActionLink("Log In", "Login") or @Html.ActionLink("Register", "Register") to play.</h3>